[animated="0"] {
    opacity: 0;
}

[animated="1"] {
    display: inline-block;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

[animated="1"] .fadeIn { opacity: 1 }

[animated="0"].slideUp { transform: translateY(50px) }
[animated="0"].slideDown { transform: translateY(-50px) }
[animated="1"].slideUp,
[animated="1"].slideDown {
    transform: translateY(0px);
    opacity: 1;
}

[animated="0"].slideLeft { transform: translateX(50px) }
[animated="0"].slideRight { transform: translateX(-50px) }
[animated="1"].slideLeft,
[animated="1"].slideRight {
    transform: translateX(0px);
    opacity: 1;
}

[animated="0"].zoomOut { transform: scale(2) }
[animated="1"].zoomOut { transform: scale(1) }

[animated="0"].zoomIn { transform: scale(0.5) }
[animated="1"].zoomIn { transform: scale(1) }

[animated="0"].batman { transform: rotate(540deg) }
[animated="1"].batman { transform: rotate(0deg) }